In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

**Load Data**

In [2]:
train = pd.read_csv('D:/Sinau/danthon-dsw2021/co/data_pre/data_train_pre.csv')
test = pd.read_csv('D:/Sinau/danthon-dsw2021/co/data_pre/data_test_pre.csv')

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71336 entries, 0 to 71335
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ids     71336 non-null  object
 1   Labels  71336 non-null  bool
 2   token   71336 non-null  object
 3   year    71336 non-null  int64
 4   month   71336 non-null  int64
 5   date    71336 non-null  int64
 6   hour    71336 non-null  int64
dtypes: bool(1), int64(4), object(2)
memory usage: 3.3+ MB

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13841 entries, 0 to 13840
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ids     13841 non-null  object
 1   token   13841 non-null  object
 2   year    13841 non-null  int64
 3   month   13841 non-null  int64
 4   date    13841 non-null  int64
 5   hour    13841 non-null  int64
dtypes: int64(4), object(2)
memory usage: 648.9+ KB

In [5]:
train.head()

                       Ids  Labels      token  year  month  date  hour
0  2e69e9384_2020-10-06_13    True  2e69e9384  2020     10     6    13
1  2e6992c7c_2020-10-02_17    True  2e6992c7c  2020     10     2    17
2  2e69ef474_2020-09-13_19    True  2e69ef474  2020      9    13    19
3  2e69c5fd4_2020-10-10_15    True  2e69c5fd4  2020     10    10    15
4  2e6992134_2020-09-12_11    True  2e6992134  2020      9    12    11

In [6]:
test.head()

                       Ids      token  year  month  date  hour
0  2e6992a84_2020-11-25_18  2e6992a84  2020     11    25    18
1  2e68e62f4_2020-11-29_20  2e68e62f4  2020     11    29    20
2  2e68e81a4_2020-11-27_10  2e68e81a4  2020     11    27    10
3   2e69eec04_2020-11-24_7  2e69eec04  2020     11    24     7
4   2e698e4a4_2020-11-27_8  2e698e4a4  2020     11    27     8

In [7]:
df = pd.DataFrame()

**concat data test & data train**

In [8]:
df = pd.concat([train, test], axis=0)

**one hot encode token**

In [9]:
ohe = pd.get_dummies(df.token, prefix='token')

In [10]:
df2=pd.DataFrame()

In [11]:
df2=pd.concat([df, ohe], axis=1)

In [12]:
df2.drop(['Ids','token'], axis=1, inplace=True)

**define x y**

In [13]:
X = df2[:71336].drop('Labels',axis=1)

In [20]:
y = df2[:71336]['Labels'].astype(int)

**split data**

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

**random forest classifier**

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
clf=RandomForestClassifier(n_estimators=100)

In [25]:
clf.fit(X_train,y_train)

RandomForestClassifier()

**evaluation**

In [26]:
from sklearn import metrics

In [27]:
y_pred=clf.predict(X_test)

In [28]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7056679594411476

**predict data test**

In [38]:
z = df2[71336:].drop('Labels', axis=1)

In [29]:
lele = pd.DataFrame()

In [31]:
lele['Ids'] = test['Ids']

In [40]:
lele['Labels'] = clf.predict(z)

In [44]:
lele['Labels'] = lele['Labels'].replace({0: 'False', 1: 'True'})

In [53]:
lele.set_index('Ids', inplace=True)

In [54]:
lele.to_csv('D:\Sinau\danthon-dsw2021\data_submit\coba_rf2.csv')

In [55]:
pd.read_csv('D:\Sinau\danthon-dsw2021\data_submit\coba_rf2.csv')

                           Ids  Labels
0      2e6992a84_2020-11-25_18    True
1      2e68e62f4_2020-11-29_20    True
2      2e68e81a4_2020-11-27_10    True
3       2e69eec04_2020-11-24_7    True
4       2e698e4a4_2020-11-27_8    True
...                        ...     ...
13836   2e68dd414_2020-11-26_5   False
13837  2e698541c_2020-11-24_22    True
13838  2e69e8e0c_2020-11-24_10    True
13839  2e699a1cc_2020-11-24_18    True
13840  2e698d804_2020-11-25_19    True

[13841 rows x 2 columns]

In [58]:
!kaggle competitions submit -c danthon2021 -f D:\Sinau\danthon-dsw2021\data_submit\coba_rf2.csv -m "rf_ohe"

Successfully submitted to Data Science Weekends by Data Science Indonesia

  0%|          | 0.00/404k [00:00<?, ?B/s]
 22%|##1       | 88.0k/404k [00:00<00:00, 675kB/s]
 40%|###9      | 160k/404k [00:00<00:00, 274kB/s]
 50%|####9     | 200k/404k [00:00<00:00, 242kB/s]
 57%|#####7    | 232k/404k [00:00<00:00, 223kB/s]
 65%|######5   | 264k/404k [00:01<00:00, 210kB/s]
 71%|#######1  | 288k/404k [00:01<00:00, 205kB/s]
 77%|#######7  | 312k/404k [00:01<00:00, 199kB/s]
 83%|########3 | 336k/404k [00:01<00:00, 195kB/s]
 89%|########9 | 360k/404k [00:01<00:00, 192kB/s]
 95%|#########5| 384k/404k [00:01<00:00, 190kB/s]
100%|##########| 404k/404k [00:01<00:00, 179kB/s]
100%|##########| 404k/404k [00:08<00:00, 48.6kB/s]