In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
data = pd.read_csv('D:/Sinau/danthon-dsw2021/co/data_pre/data_train_pre.csv')

In [3]:
data.head()

                       Ids  Labels      token  year  month  date  hour
0  2e69e9384_2020-10-06_13    True  2e69e9384  2020     10     6    13
1  2e6992c7c_2020-10-02_17    True  2e6992c7c  2020     10     2    17
2  2e69ef474_2020-09-13_19    True  2e69ef474  2020      9    13    19
3  2e69c5fd4_2020-10-10_15    True  2e69c5fd4  2020     10    10    15
4  2e6992134_2020-09-12_11    True  2e6992134  2020      9    12    11

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le = LabelEncoder()

In [6]:
data['tok'] = le.fit_transform(data['token'])

In [7]:
data

,Ids,Labels,token,year,month,date,hour,tok
0,2e69e9384_2020-10-06_13,True,2e69e9384,2020,10,6,13,3800
1,2e6992c7c_2020-10-02_17,True,2e6992c7c,2020,10,2,17,2682
2,2e69ef474_2020-09-13_19,True,2e69ef474,2020,9,13,19,4494
3,2e69c5fd4_2020-10-10_15,True,2e69c5fd4,2020,10,10,15,3531
4,2e6992134_2020-09-12_11,True,2e6992134,2020,9,12,11,2528
...,...,...,...,...,...,...,...,...
71331,2e69eea5c_2020-11-09_10,False,2e69eea5c,2020,11,9,10,4382
71332,2e69c5944_2020-10-27_12,True,2e69c5944,2020,10,27,12,3403
71333,2e69f2cd4_2020-11-07_14,True,2e69f2cd4,2020,11,7,14,4520
71334,2e68e64e4_2020-09-23_9,False,2e68e64e4,2020,9,23,9,371
71335,2e68e6084_2020-10-18_12,False,2e68e6084,2020,10,18,12,247

In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import svm

In [9]:
X = data[['tok','year','month','date','hour']]
y = data['Labels']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [24]:
clf=RandomForestClassifier(n_estimators=100)

In [25]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [26]:
y_pred=clf.predict(X_test)

In [27]:
from sklearn import metrics

In [28]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.68538853324611

In [29]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.53      0.47      0.50      7164
        True       0.75      0.80      0.77     14237

    accuracy                           0.69     21401
   macro avg       0.64      0.63      0.63     21401
weighted avg       0.68      0.69      0.68     21401

In [ ]:
df_ohe = pd.get_dummies(data.token, prefix='token')

In [ ]:
df_ohe

In [ ]:
data_b = pd.concat([data, df_ohe], axis=1)

In [ ]:
data_b

In [ ]:
X = data_b.drop(['Ids','Labels','token','tok'], axis=1)
y = data['Labels']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
clf2=RandomForestClassifier(n_estimators=100)

In [52]:
svmm = svm.SVC()

In [53]:
svmm.fit(X_train,y_train)

KeyboardInterrupt:

In [29]:
clf2.fit(X_train,y_train)

RandomForestClassifier()

In [30]:
y_pred=clf2.predict(X_test)

In [31]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7057146862296154

In [40]:
test = pd.read_csv('D:\Sinau\danthon-dsw2021\co\data_pre\data_test_pre.csv')

In [31]:
test

                           Ids      token  year  month  date  hour
0      2e6992a84_2020-11-25_18  2e6992a84  2020     11    25    18
1      2e68e62f4_2020-11-29_20  2e68e62f4  2020     11    29    20
2      2e68e81a4_2020-11-27_10  2e68e81a4  2020     11    27    10
3       2e69eec04_2020-11-24_7  2e69eec04  2020     11    24     7
4       2e698e4a4_2020-11-27_8  2e698e4a4  2020     11    27     8
...                        ...        ...   ...    ...   ...   ...
13836   2e68dd414_2020-11-26_5  2e68dd414  2020     11    26     5
13837  2e698541c_2020-11-24_22  2e698541c  2020     11    24    22
13838  2e69e8e0c_2020-11-24_10  2e69e8e0c  2020     11    24    10
13839  2e699a1cc_2020-11-24_18  2e699a1cc  2020     11    24    18
13840  2e698d804_2020-11-25_19  2e698d804  2020     11    25    19

[13841 rows x 6 columns]

In [32]:
test['tok'] = le.fit_transform(test['token'])

In [36]:
# test_ohe = pd.get_dummies(test.token, prefix='token')

In [33]:
test

                           Ids      token  year  month  date  hour   tok
0      2e6992a84_2020-11-25_18  2e6992a84  2020     11    25    18  1240
1      2e68e62f4_2020-11-29_20  2e68e62f4  2020     11    29    20   115
2      2e68e81a4_2020-11-27_10  2e68e81a4  2020     11    27    10   350
3       2e69eec04_2020-11-24_7  2e69eec04  2020     11    24     7  1894
4       2e698e4a4_2020-11-27_8  2e698e4a4  2020     11    27     8   956
...                        ...        ...   ...    ...   ...   ...   ...
13836   2e68dd414_2020-11-26_5  2e68dd414  2020     11    26     5    25
13837  2e698541c_2020-11-24_22  2e698541c  2020     11    24    22   582
13838  2e69e8e0c_2020-11-24_10  2e69e8e0c  2020     11    24    10  1664
13839  2e699a1cc_2020-11-24_18  2e699a1cc  2020     11    24    18  1359
13840  2e698d804_2020-11-25_19  2e698d804  2020     11    25    19   865

[13841 rows x 7 columns]

In [39]:
# df_test_ohe = pd.concat([test, test_ohe], axis=1)

In [34]:
test.drop(['Ids','token'], axis=1, inplace=True)

In [35]:
test

       year  month  date  hour   tok
0      2020     11    25    18  1240
1      2020     11    29    20   115
2      2020     11    27    10   350
3      2020     11    24     7  1894
4      2020     11    27     8   956
...     ...    ...   ...   ...   ...
13836  2020     11    26     5    25
13837  2020     11    24    22   582
13838  2020     11    24    10  1664
13839  2020     11    24    18  1359
13840  2020     11    25    19   865

[13841 rows x 5 columns]

In [36]:
submit = pd.DataFrame()

In [41]:
submit['Ids'] = test['Ids']

In [38]:
submit['Labels'] = clf.predict(test)

In [42]:
submit

       Labels                      Ids
0       False  2e6992a84_2020-11-25_18
1        True  2e68e62f4_2020-11-29_20
2       False  2e68e81a4_2020-11-27_10
3       False   2e69eec04_2020-11-24_7
4        True   2e698e4a4_2020-11-27_8
...       ...                      ...
13836   False   2e68dd414_2020-11-26_5
13837   False  2e698541c_2020-11-24_22
13838   False  2e69e8e0c_2020-11-24_10
13839   False  2e699a1cc_2020-11-24_18
13840   False  2e698d804_2020-11-25_19

[13841 rows x 2 columns]

In [45]:
columns_titles = ["Ids","Labels"]
submit=submit.reindex(columns=columns_titles)

In [46]:
submit

                           Ids  Labels
0      2e6992a84_2020-11-25_18   False
1      2e68e62f4_2020-11-29_20    True
2      2e68e81a4_2020-11-27_10   False
3       2e69eec04_2020-11-24_7   False
4       2e698e4a4_2020-11-27_8    True
...                        ...     ...
13836   2e68dd414_2020-11-26_5   False
13837  2e698541c_2020-11-24_22   False
13838  2e69e8e0c_2020-11-24_10   False
13839  2e699a1cc_2020-11-24_18   False
13840  2e698d804_2020-11-25_19   False

[13841 rows x 2 columns]

In [49]:
submit.set_index('Ids', inplace=True)

In [50]:
submit

                         Labels
Ids
2e6992a84_2020-11-25_18   False
2e68e62f4_2020-11-29_20    True
2e68e81a4_2020-11-27_10   False
2e69eec04_2020-11-24_7    False
2e698e4a4_2020-11-27_8     True
...                         ...
2e68dd414_2020-11-26_5    False
2e698541c_2020-11-24_22   False
2e69e8e0c_2020-11-24_10   False
2e699a1cc_2020-11-24_18   False
2e698d804_2020-11-25_19   False

[13841 rows x 1 columns]

In [53]:
submit.to_csv('D:\Sinau\danthon-dsw2021\data_submit\coba_rf1.csv')

In [54]:
pd.read_csv('D:\Sinau\danthon-dsw2021\data_submit\coba_rf1.csv')

                           Ids  Labels
0      2e6992a84_2020-11-25_18   False
1      2e68e62f4_2020-11-29_20    True
2      2e68e81a4_2020-11-27_10   False
3       2e69eec04_2020-11-24_7   False
4       2e698e4a4_2020-11-27_8    True
...                        ...     ...
13836   2e68dd414_2020-11-26_5   False
13837  2e698541c_2020-11-24_22   False
13838  2e69e8e0c_2020-11-24_10   False
13839  2e699a1cc_2020-11-24_18   False
13840  2e698d804_2020-11-25_19   False

[13841 rows x 2 columns]