In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [5]:
data = pd.read_csv('D:/Sinau/danthon-dsw2021/co/data_pre/data_train_pre.csv')

In [6]:
data.head()

                       Ids  Labels      token  year  month  date  hour
0  2e69e9384_2020-10-06_13    True  2e69e9384  2020     10     6    13
1  2e6992c7c_2020-10-02_17    True  2e6992c7c  2020     10     2    17
2  2e69ef474_2020-09-13_19    True  2e69ef474  2020      9    13    19
3  2e69c5fd4_2020-10-10_15    True  2e69c5fd4  2020     10    10    15
4  2e6992134_2020-09-12_11    True  2e6992134  2020      9    12    11

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le = LabelEncoder()

In [22]:
data['tok'] = le.fit_transform(data['token'])

In [23]:
data

,Ids,Labels,token,year,month,date,hour,tok
0,2e69e9384_2020-10-06_13,True,2e69e9384,2020,10,6,13,3800
1,2e6992c7c_2020-10-02_17,True,2e6992c7c,2020,10,2,17,2682
2,2e69ef474_2020-09-13_19,True,2e69ef474,2020,9,13,19,4494
3,2e69c5fd4_2020-10-10_15,True,2e69c5fd4,2020,10,10,15,3531
4,2e6992134_2020-09-12_11,True,2e6992134,2020,9,12,11,2528
...,...,...,...,...,...,...,...,...
71331,2e69eea5c_2020-11-09_10,False,2e69eea5c,2020,11,9,10,4382
71332,2e69c5944_2020-10-27_12,True,2e69c5944,2020,10,27,12,3403
71333,2e69f2cd4_2020-11-07_14,True,2e69f2cd4,2020,11,7,14,4520
71334,2e68e64e4_2020-09-23_9,False,2e68e64e4,2020,9,23,9,371
71335,2e68e6084_2020-10-18_12,False,2e68e6084,2020,10,18,12,247

In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [24]:
X = data[['tok','year','month','date','hour']]
y = data['Labels']

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [26]:
clf=RandomForestClassifier(n_estimators=100)

In [27]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [28]:
y_pred=clf.predict(X_test)

In [29]:
from sklearn import metrics

In [30]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6842203635344143