In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [24]:
df = pd.read_csv('D:/Sinau/danthon-dsw2021/co/danthon2021/data_train.csv')

In [25]:
df.head()

                       Ids  Labels
0  2e69e9384_2020-10-06_13    True
1  2e6992c7c_2020-10-02_17    True
2  2e69ef474_2020-09-13_19    True
3  2e69c5fd4_2020-10-10_15    True
4  2e6992134_2020-09-12_11    True

In [26]:
df['token'] = df['Ids'].str[0:9]

In [27]:
df['year'] = df['Ids'].str[10:14]

In [28]:
df['month'] = df['Ids'].str[15:17]

In [33]:
df['date'] = df['Ids'].str[18:20]

In [35]:
df['hour'] = df['Ids'].str[21:]

In [36]:
df

                           Ids  Labels      token  year month date hour
0      2e69e9384_2020-10-06_13    True  2e69e9384  2020    10   06   13
1      2e6992c7c_2020-10-02_17    True  2e6992c7c  2020    10   02   17
2      2e69ef474_2020-09-13_19    True  2e69ef474  2020    09   13   19
3      2e69c5fd4_2020-10-10_15    True  2e69c5fd4  2020    10   10   15
4      2e6992134_2020-09-12_11    True  2e6992134  2020    09   12   11
...                        ...     ...        ...   ...   ...  ...  ...
71331  2e69eea5c_2020-11-09_10   False  2e69eea5c  2020    11   09   10
71332  2e69c5944_2020-10-27_12    True  2e69c5944  2020    10   27   12
71333  2e69f2cd4_2020-11-07_14    True  2e69f2cd4  2020    11   07   14
71334   2e68e64e4_2020-09-23_9   False  2e68e64e4  2020    09   23    9
71335  2e68e6084_2020-10-18_12   False  2e68e6084  2020    10   18   12

[71336 rows x 7 columns]

In [39]:
df.to_csv('D:/Sinau/danthon-dsw2021/co/data_pre/data_train_pre.csv', index=False)